<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>1일1생각</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="header">
        
        <img class="logo" src="/Logo.png" alt="Logo">
       
    </div>
    <div class="TittleArea">
        <h2>카테고리</h2>
        <p>오늘 하루 다루고 싶은 분야를 선택!</p>
    </div>
    <div class="contentUser categoryContain">
        <form action="index" method="get">
        <div class="CheckboxContain">
            <div class="lavbelContain">
                <div class="categoryCheckbox">
                    <label>
                        <input name="category1" id="cons" type="checkbox" value="True"><span>경제</span>
                    </label>
                </div>
                <div class="categoryCheckbox">
                    <label>
                        <input name="category2" id="cons" type="checkbox" value="True"><span>정치</span>
                    </label>
                </div>
            </div>
            <div class="lavbelContain">
                <div class="categoryCheckbox">
                    <label>
                        <input name="category3" id="cons" type="checkbox" value="True"><span>사회</span>
                    </label>
                </div>
                <div class="categoryCheckbox">
                    <label>
                        <input name="category7" id="cons" type="checkbox" checked="" value="True"><span>랜덤</span>
                    </label>
                </div>
                <div class="categoryCheckbox">
                    <label>
                        <input name="category4" id="cons" type="checkbox" value="True"><span>IT/과학</span>
                    </label>
                </div>
            </div>
            <div class="lavbelContain">
                <div class="categoryCheckbox">
                    <label>
                        <input name="category5" id="cons" type="checkbox" value="True"><span>생활/문화</span>
                    </label>
                </div>
                <div class="categoryCheckbox">
                    <label>
                        <input name="category6" id="cons" type="checkbox" value="True"><span>글로벌</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="cateFootBtn">
        <input type="submit" value="시작하기">
    </div>
    </form>
    
  </body>
  </html>