@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap&subset=korean');

*{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size:1rem;
}

#page1, #page2, #page3{
    background-color:#FFFFFF;
}

/*헤더,푸터바*/
.header, .footer{
  background-color:#EFEFEF !important;
}

/*panel 로그인 버튼*/
.loginOK{
    text-align: center;
}
/*content 영역*/
.content{
  padding:0%;
  padding:5rem 2rem;
}

/*헤더 가천대 로고*/
.gachonlogo{
  width:25px;
}

/*푸터바 가천대 정보*/
.gachonInfo{
  font-size:0.7rem;
}

/*page2 content부분*/
.section2{
    margin:0rem 4rem;
}

/*page2 회원가입 버튼*/
.submit{
    text-align:center;
}

/*page2 form 부분*/
.info{
    margin-top:3rem;
}

/*panel의 회원가입*/
.signup{
    text-align: center;
}

/*panel의 회원가입 텍스트*/
.signup a{
    color:white !important;
}

/*page1 content 로고*/
.windsystem, .systemImg{
    text-align: center;
}

/*page1 listveiw colo, page2 barLayout*/
#listArea li a, .ui-bar{
    background-color:#2f3293;
    color:#FFFFFF;
}
.ui-bar img{
    width:20px;
}

/*pc화면 크기*/
@media (min-width:980px){
    
    /*page2 회원가입 버튼*/
    .content{
        margin:0rem 20rem;
    }
    
    /*page2 form 부분*/
    .info{
        margin-top:5rem;
    }

    

}

